{% extends "layout/base.html.twig" %}

{% block title%}Details Article du Blog{% endblock %}

{% block continueBlog %}

    <h6> {{article.titre }}</h6>
    <p class="card-text">{{article.description }}</p>


{% endblock %}